main{
  display: flex;
  align-items: center;
}

.width-100{
  width: 100%;
  background: #222;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.width-100:hover{
  color: #fff;
  filter: brightness(110%)
}